body{
   margin: 0;
}
.header{
   height: 80px;
   width: 100%;
   background-image: linear-gradient(rgba(39, 38, 38, 0.267), rgb(245, 245, 245), rgba(49, 49, 49, 0.205));
}
.contenedor {
   display: grid;
   justify-content: center;
   gap: 5px;
   margin-top: 6%;
}
p{
   display: inline;
   margin: 0;
}
.cajalog{
   padding: 18px;
   border-radius: 26px 26px 26px 26px;
   -moz-border-radius: 26px 26px 26px 26px;
   -webkit-border-radius: 26px 26px 26px 26px;
   border: 3px hidden #000000;
   box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.75);
}
.login {
   display: grid;
   grid-template: 12px 50px 12px 50px 60px / 300px;
   gap: 15px;
}

.fixfooter {
   min-height: calc(100vh - 186px);
   background-color: rgba(224, 224, 224, 0.733);
}
.banner {
   height: 186px;
   width: 100%;
   background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(122,205,234,1) 14%, rgba(41,184,229,1) 34%, rgba(188,224,238,1) 82%, rgba(188,224,238,1) 100%);/* W3C */
}